<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}w3tasq - Web3 Task & Note Tracker{% endblock %}</title>
    <!-- Link to the main CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Block for page-specific additional styles -->
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <div class="container">
        <!-- Block for the main page content -->
        {% block content %}{% endblock %}
    </div>
    
    <!-- Footer with theme toggle button -->
    <!-- Using structure and styles from CSS, removing inline styles -->
    <footer>
        <div>
            <!-- Theme toggle button in the footer -->
            <button id="themeToggle" class="btn">dark 🌓 light</button>
        </div>
        <div>
            <p>&copy;w3tasq</p>
        </div>
    </footer>

    <!-- Link to the main JavaScript file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Block for page-specific additional scripts -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>